#!/usr/bin/env bash

# `.aliases` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`


# === Aliases ===

# exa:
alias la="exa -abghl --git"

# git with hub:
alias git="hub"

# Pretty print XML (use `jq` for json):
alias xq="xmllint --format"

# Show local ip:
alias localip="ipconfig getifaddr en0"

# Bell when the program is finished. It is useful for some
# time-consuming operations. Like:
# > npm install | a
alias a="terminal-notifier -sound default"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Copy public key to clipboard:
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
