#!/usr/bin/env bash

# `.exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`


# === Path modifications ===

# These lines should be the first ones

# GPG agent:
PATH="/usr/local/opt/gpg-agent/bin:$PATH"

# Now `python` points to `python2` from `brew`:
PATH="/usr/local/opt/python2/libexec/bin:$PATH"

# Adds pipsi binary files:
PATH="$HOME/.local/bin:$PATH"

export PATH


# === General ===

# Editor:
export EDITOR=$(which nano)

# GPG:
export GPG_TTY=$(tty)
eval "$(gpg-agent --daemon --allow-preset-passphrase)"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects

# Pagers:
export LESS="-R"  # argument to allow less to show colors
export PAGER='bat --color always --style plain'
export MANPAGER='bat --color always --style plain'


# === Virtualenvs ===

export PIPENV_VENV_IN_PROJECT=true # look for `.venv` dir inside project
export PIPENV_HIDE_EMOJIS=true # no emojis!
export PIPENV_COLORBLIND=true # disables colors, so colorful!
export PIPENV_NOSPIN=true # disables spinner for cleaner logs


# === Version managers ===

# nvm:
export NVM_DIR="$HOME/.nvm"
source "/usr/local/opt/nvm/nvm.sh"

# pyenv:
eval "$(pyenv init -)"


# === Histories ===

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history"
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# Erlang and Elixir shell history:
export ERL_AFLAGS="-kernel shell_history enabled"
