#!/usr/bin/env bash

# `.functions` provides helper functions for shell.


# === Commonly used functions ===

# pyclean () {
#   # Cleans py[cod] and cache dirs in the current tree:
#   fd -I -H \
#     '(__pycache__|\.(pytest_|mypy_)?cache|\.hypothesis\.py[cod]$)' \
#   | xargs rm -rf
# }


mkd () {
  if [ $# -ne 1 ]; then
    echo 'usage: mc <dir-name>'
    return 137
  fi
  # Create a new directory and enter it
  local dir_name="$1"
  mkdir -p "$dir_name" && cd "$dir_name"
}
