/* Docs: https://www.userchrome.org */
/* Copy this file into your `$(FireFox profile folder)/chrome` folder */
/* cmd + alt + shift + I to open debug */

/* Hide "search tabs" button */
#alltabs-button { display: none !important; }

/* Hide "unified extensions" button */
#unified-extensions-button { display: none !important; }

/* Hide main settings button */
#PanelUI-menu-button { display: none !important; }

/* Hide page info from the left of address box */
#identity-permission-box,
#tracking-protection-icon-container { display: none !important; }

/* Hide page actions from the right of address box */
hbox.urlbar-page-action { display: none !important; }

/*
 * Zen browser specific
 */

/* Hide workspaces */
#zen-current-workspace-indicator-container,
#zen-workspaces-button,
vbox.zen-current-workspace-indicator { display: none !important; }

/* Hide shadow from navbar */
#zen-appcontent-navbar-container { box-shadow: none !important; }

/* Add extra space for tabbar, so navbar fits */
#navigator-toolbox { top: 40px !important; }

/* Make urlbar suggestions transparent */
#urlbar { opacity: 0.95 !important; }

/* Change URL bar active color text, copied the style from zen.css */
.urlbarView-row {
  &[selected] {
    & *, & .urlbarView-title-separator::before {
      color: black !important;
    }
  }
}

/* Disable Zen toasts */
#zen-toast-container .zen-toast {
  display: none !important;
}

/* Disable media toolbox in sidebar */
.zen-media-controls-toolbar {
  display: none !important;
}
